<?xml version='1.0' encoding='utf-8'?>
<widget id="com.baronbrew.tilthydrometerf7" version="1.0.88" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tilt 2</name>
    <description>
        Generation two app for Tilt scanning and logging data.
    </description>
    <author email="noah@baronbrew.com" href="http://www.tilthydrometer.com">
        Baron Brew Equipment
    </author>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <content src="index.html" />
    <allow-navigation href="https://docs.google.com/*" />
    <allow-navigation href="https://tilthydrometer.com/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="KeepRunning" value="true" />
    <platform name="android">
        <preference name="android-compileSdkVersion" value="32" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="32" />
        <preference name="android-maxSdkVersion" value="33" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.RequestBtPermission" value="no" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundScanPeriod" value="1500" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundBetweenScanPeriod" value="500" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="Orientation" value="default" />
        <allow-intent href="market:*" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#8f8f8f" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screens/android/drawable-xxxhdpi-screen.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#8f8f8f" />
        <icon density="ldpi" src="res/icons/android/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icons/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icons/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icons/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icons/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icons/android/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <splash src="/res/screens/ios/Default@2x~universal~anyany.png" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="BackupWebStorage" value="none" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>This app uses Bluetooth-based location services for scanning nearby TILT hydrometers and reading temperature and specific gravity. No other location technology will be used.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSBluetoothAlwaysUsageDescription">
            <string>This app uses Bluetooth for scanning nearby TILT hydrometers and reading temperature and specific gravity.</string>
        </edit-config>
    </platform>
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
</widget>
