<?xml version='1.0' encoding='utf-8'?>
<widget id="com.baronbrew.tilthydrometerf7" version="1.1.17" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tilt 2</name>
    <description>
        Generation two app for Tilt scanning and logging data. Now supports Tilt Pico Bluetooth to WiFi adapter.
    </description>
    <author email="noah@baronbrew.com" href="http://www.tilthydrometer.com">
        Baron Brew Equipment
    </author>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <content src="index.html" />
    <allow-navigation href="https://docs.google.com/*" />
    <allow-navigation href="https://tilthydrometer.com/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="KeepRunning" value="true" />
    <platform name="android">
        <!-- Pinned to cordova-android 15.1's tested defaults. These exist so that if Android
             Studio's AGP Upgrade Assistant (or anything else) edits the generated build files,
             the next `cordova prepare` resets them to known-good values. cordova-android 15.1
             is NOT Gradle 9 compatible - do not accept Studio's offer to upgrade. To move
             these deliberately, change them here, not in platforms/android/. -->
        <preference name="GradleVersion" value="8.14.2" />
        <preference name="AndroidGradlePluginVersion" value="8.10.1" />
        <preference name="GradlePluginKotlinVersion" value="2.1.21" />
        <preference name="android-buildToolsVersion" value="36.0.0" />
        <preference name="AndroidXAppCompatVersion" value="1.7.1" />
        <preference name="AndroidXWebKitVersion" value="1.14.0" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="BackgroundColor" value="#000000" />
        <!-- These were previously hand-edited into the generated AndroidManifest.xml and were
             lost when the platform was regenerated. Declared here so they survive a rebuild. -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
            <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
            <uses-feature android:name="android.hardware.location" android:required="false" />
            <uses-feature android:name="android.hardware.location.gps" android:required="false" />
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <preference name="com.unarin.cordova.beacon.android.altbeacon.EnableLocationPermissionAlert" value="false" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.RequestBtPermission" value="false" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundScanPeriod" value="1500" />
        <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundBetweenScanPeriod" value="500" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="darkcontent" />
        <preference name="Orientation" value="default" />
        <allow-intent href="market:*" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#8f8f8f" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screens/android/drawable-xxxhdpi-screen.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#8f8f8f" />
        <icon density="ldpi" src="res/icons/android/mipmap-ldpi/ic_launcher.png" background="res/icons/android/mipmap-ldpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-ldpi/ic_launcher_foreground.png" />
        <icon density="mdpi" src="res/icons/android/mipmap-mdpi/ic_launcher.png" background="res/icons/android/mipmap-mdpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon density="hdpi" src="res/icons/android/mipmap-hdpi/ic_launcher.png" background="res/icons/android/mipmap-hdpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon density="xhdpi" src="res/icons/android/mipmap-xhdpi/ic_launcher.png" background="res/icons/android/mipmap-xhdpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon density="xxhdpi" src="res/icons/android/mipmap-xxhdpi/ic_launcher.png" background="res/icons/android/mipmap-xxhdpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon density="xxxhdpi" src="res/icons/android/mipmap-xxxhdpi/ic_launcher.png" background="res/icons/android/mipmap-xxxhdpi/ic_launcher_background.png" foreground="res/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
    </platform>
    <platform name="ios">
        <splash src="/res/screens/ios/Default@2x~universal~anyany.png" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="BackupWebStorage" value="none" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>This app uses Bluetooth-based location services for scanning nearby TILT hydrometers and reading temperature and specific gravity. No other location technology will be used.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSBluetoothAlwaysUsageDescription">
            <string>This app uses Bluetooth for scanning nearby TILT hydrometers and reading temperature and specific gravity.</string>
        </edit-config>
    </platform>
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
</widget>
