/* Your app styles here */
.color-custom-RED { color: red;
}
.color-custom-RED•HD { color: red;
}
.color-custom-GREEN { color: green;
}
.color-custom-GREEN•HD { color: green;
}
.color-custom-GRAY { color: gray;
}
.color-custom-PURPLE { color: purple;
}
.color-custom-PURPLE•HD { color: purple;
}
.color-custom-BLACK { color: black;
}
.color-custom-BLACK•HD { color: black;
}
.color-custom-PINK { color: hotpink;
}
.color-custom-PINK•HD { color: hotpink;
}
.color-custom-ORANGE { color: orange;
}
.color-custom-ORANGE•HD { color: orange;
}
.color-custom-BLUE { color: blue;
}
.color-custom-BLUE•HD { color: blue;
}
.color-custom-YELLOW { color: yellow;
}
.color-custom-YELLOW•HD { color: yellow;
}

.button-border { border: 2px solid gray 
}

.button-style-RED { background: red;         
}
.button-style-RED•HD { background: red;
}
.button-style-GREEN { background: green;
}
.button-style-GREEN•HD { background: green;
}
.button-style-GRAY { background: gray;
}
.button-style-PURPLE { background: purple;
}
.button-style-PURPLE•HD { background: purple;
}
.button-style-BLACK { background: black;
}
.button-style-BLACK•HD { background: black;
}
.button-style-PINK { background: hotpink;
}
.button-style-PINK•HD { background: hotpink;
}
.button-style-ORANGE { background: orange;
}
.button-style-ORANGE•HD { background: orange;
}
.button-style-BLUE { background: blue;
}
.button-style-BLUE•HD { background: blue;
}
.button-style-YELLOW { background: yellow;
}
.button-style-YELLOW•HD { background: yellow;
}

.size-15 { font-size: 15px }

div.sg-temp {
    font-size: 500%;
    margin-left: 5%;
    font-weight:bold;
    line-height: .8;
}

div.lastrec {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: smaller;
}
.statusbar {
    background: black;
  }

  .md .data-table th {
    padding-left: 0px;
    padding-right: 0px;
}